extends layout

block content
  div.container.centered
    h4(style="margin-bottom: 20px") Welcome to e-Shoppie
    form(action="/register" method="POST")
      .form-group
        input.form-control(name="email" placeholder="Email")
      .form-group
        input.form-control(type="password" name="password" placeholder="password")
      .form-group
        input.form-control(name="firstName" placeholder="first name")
      .form-group
        input.form-control(name="lastName" placeholder="last name")
      .form-group.text-center
        button.btn.btn-primary(type="submit") Register